*
{
    padding:0;
    margin:0;
    box-sizing:border-box;
    list-style:none;
    text-decoration:none;
}
@font-face {
    font-family: "SAO_Regular";
    src: url("C:\Users\1\Desktop\C#\JavaScript\Fonts\SAOWelcome-Regular.otf") format('otf');
}

@font-face {
    font-family: "Helvetica";
    src: url("C:\Users\1\Desktop\C#\JavaScript\Fonts\Helvetica.ttf") format('ttf');
}

header {
    position: fixed;
    width:100%;
    z-index:9999999999999;
}

.free_ship {
    background: #2abdbb;
    height: 30px;
    
}
.free_ship p
{
    text-align:center;
    font-size:16px;
    position:relative;
    top:5px;
}

#menu-icon{
    color:white;
    font-size:35px;
    z-index:10001;
    cursor:pointer;
    display:none;
}

.logo {
    font-family: SAO_Regular;
    font-size: 40px;
    background: linear-gradient(to right, #99dbee, #eda4e5, #e8316e);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    display: inline;
    position:relative;
    top:8px;
    left:50px;
}

.header_main
{
    background:black;
    height:65px;
}

.header_main ul
{
    display:inline-block;
    float:right;
    position:relative;
    top:13px;
    right:70px;
}

.header_main ul i
{

}

.header_main ul li
{
    display:inline;
    margin-left:5px;
}

.header_main ul li:last-child
{
    margin-left:20px;
}

.search_item
{

}
.search_item input
{
    height:35px;
    width:270px;
    padding-left:15px;
    font-size:14px;
   
}

.search_item input:focus
{
    outline: 0px solid #99dbee;
}

.search_item button
{
    background:orange;
    height:38px;
    font-size:20px;
    width:35px;
    
    position:relative;
    right:5px;
    top:2.5px;
    transition: all .55s ease;
   
}

.search_item button:hover
{
    cursor:pointer;
    transform:translateX(-2px);
}

::-webkit-input-placeholder
{
    
    font-size:14px;
}

.favourites_goods
{

}

.favourites_goods i
{
    
    
}

.favourites_goods i, .account_button i, .cart_items i 
{
    color:yellow;
    border:0;
    font-size:28px;
    position:relative;
    top:5px;
}

.favourites_goods span, .cart_items span{
    position:relative;
    top:-10px;
    left:-13px;
    background-color:red;
    border-radius:50%;
    color:white;
    padding:3px 5px 3px 5px;
    font-size:12px;
}

.favourites_goods i:hover, .account_button i:hover ,.cart_items i:hover
{
    color:orange;
    cursor:pointer;
}

.account_button
{

}

.main_categories
{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:12px 7% 12px 7%;
    width:100%;
    background-color:#23252b;
}

.navlist
{
    display:flex;
    
}

.navlist a
{
    margin-left:24px;
    font-weight:600;
    font-family:SAO_Regular;
    font-size:16px;
    color:white;
}

.navlist a:hover
{
    border-bottom:2px solid #eda4e5;
    cursor:pointer;
    padding-bottom:10px;
    color:#eda4e5;
}

.navlist li:nth-child(12) a
{
    color:orange;
}

.main_img
{
    position:relative;
    top:130px;
}

.unactive{
    display:none;
}

.main_img div:first-child  {
    background-color: black;  
}

.main_img_overlay
{
    position:fixed;
    width: 100%;
    z-index: 99999999999999;
    display: flex;
    justify-content:space-between;
    align-content:center;
}

.overlay-1 
{
    padding: 40px 25% 20px 20%;
}

.overlay-2
{
    padding: 40px 20% 20px 15%;
}



.main_img_overlay div:first-child
{
    padding:0px 50px 0px 0px;
}

.main_img_overlay div a:nth-child(2) 
{
    display:block;
    color:white;
    font-weight:700;
    font-size:18px;
    font-family:SAO_Regular;
    margin-top:15px;
}

.header_links li {
    color: white;
    font-family: Helvetica;
    margin-top: 5px;
    font-size:13px;
}

.header_links li:first-child
{
    font-size:18px;
    background: linear-gradient(to right, #99dbee, #e8316e);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight:600;
    margin-bottom:10px;
    padding-bottom:5px;
}

.header_links ul li:first-child:hover
{
    border-bottom:2px solid #99dbee;
}

.header_links ul:last-of-type li:hover
{
    color:#99dbee;
}

.main_img div a img
{
    width:230px;
    height:250px;
    object-fit:cover;
}

.main_img a img
{
    width:100%;
    height:100%;
}

.overlay-border
{
    padding:3px 3px 0 3px !important;
    margin:0 !important;
    border:3px solid transparent !important;
}

.overlay-border:hover
{
    border:3px solid #99dbee !important;
}

.main_img a:hover
{
    cursor:pointer;
}

.categories_imgs
{
    padding:33px 49px;
    padding-left:4%;
}

.scroll-top
{
    color:orange;
    position:fixed;
    font-size:15px;
    background:none;
    margin-left:93%;
    border:0;
    display:none;
    z-index:20000000;
}

.scroll-top >:first-child
{
    font-size:45px;
}

.scroll-top >:last-child
{
    position:relative;
    top:-10px;
}

.scroll-top:hover
{
    cursor:pointer;
    opacity:0.6;
}

.cat_imgs_3
{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap:10px;
}

.cat_imgs_3 img
{
    object-fit:fill;
    width:100%;
    height:450px;
}

.cat_imgs_2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top:30px;
}

.cat_imgs_2 img {
    object-fit: fill;
    height: 400px;
    width:100%;
}

.cat_imgs_3 p, .cat_imgs_2 p
{
    font-size:26px;
    text-transform:uppercase;
    position:relative;
    top:-15%;
    text-align:center;
    background-color:rgba(229, 242, 201, 0.5);
    padding:22px 15px 23px 15px;
    color:white;
    font-weight:600;
    font-family:SAO_Regular;
}

.arrows i{
    color: orange;
    font-size: 25px;
}

.arrows button:hover
{
    cursor:pointer;
}

.arrows button:first-child{
    position: relative;
    top: 140px;
    left: 40px;
}

.arrows button:last-child {
    float: right;
    position: relative;
    top: 140px;
    right: 20px;
}

.arrows button:first-child, .arrows button:last-child {
    background: none;
    border: 0;
}

.arrows i {
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 100000;
}

.store_series, .recommend_prod {
    padding: 0px 79px;
    padding-left: 4%;
    position:relative;
    top:-70px;
}

.store_series p, .recommend_prod >:first-child 
{
    text-transform:uppercase;
    font-size:30px;
    font-family:SAO_Regular;
    font-weight:600;
}

.store_series div, .recommend_prod div
{
    display:flex;
    margin-top:20px;
    align-items:center;
    justify-content:space-between;
}

.store_series a:hover
{
    cursor:pointer;
}

.store_series img {
    margin-left: 20px;
    object-fit: fill;
    width: 100%;
    height: 100%;
}

.recommend_prod
{
   margin-top:50px;
}

.recommend_prod img
{
    object-fit:fill;
    width:90%;
    height:90%;
}

.rec_prod_grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    position:relative;
    top:-10px;
}

.rec_prod_grid p:nth-child(3){
    font-family:Helvetica;
    font-size:15px;
}

.rec_prod_grid img{
    width:230px;
    height:250px;
    object-fit:cover;
    border-radius:20px;
    border:2px solid #eda4e5;
    max-height:250px;
    max-width:230px;
}

.a-r-to-wishlist 
{
    border-radius:48%;
    height:35px;
    width:40px;
    background-color:#f2f2f2;
    position:absolute;
    top:190px;
    left:180px;
    font-size:30px;
    text-align:center;
    z-index:20000;
    color:#99dbee;
    vertical-align:bottom;
}

.additional
{
    top:200px;
}

.a-r-to-wishlist:hover
{
    background-color:lightblue;
    color:greenyellow;
    cursor:pointer;
}

.recommend_prod div div
{
    margin-left:20px;
    display:inline-block;
}

.p_pre_order {
   
    background-color: steelblue;
}

.p_in_stock {
    background: orange;
}

.p_pre_order, .p_in_stock
{
    width:90px;
    padding:5px 0px 5px 0px;
    text-align:center;
    text-transform:uppercase;
    font-size:12px;
    font-weight:700;
    font-family:Helvetica;
}

.rec_prod_price {
    margin-top: 50px !important;
    display:block;
    margin-left: 0 !important;
}
.rec_prod_price p
{
    font-weight:600 !important;
    font-size:20px !important;
    font-family:Helvetica;
    display:inline;
}

.rec_prod_stars {
    display: block !important;
    margin-left: 0 !important;
    font-size: 20px;
    color: greenyellow;
    margin-top: 5px !important;
    font-weight:600;
}

.rec_prod_stars p
{
    display:inline;
    color:black;
}

.rec_prod_stars >p:last-child
{
    font-size:16px;
    position:relative;
    top:-1px !important;
}

.rec_prod_stars p:nth-child(6)
{
    font-size:18px;
    font-weight:600;
    position:relative;
    top:-1px !important;
    
}

.arrows_2 button {
    top: 190px !important;
}

.arrows_2 button:first-child {
    position: absolute !important;
    left: 30px;
    display:none;
}

.arrows_2 button:last-child {
    position: absolute !important;
    float: right;
    right: 20px;
    
}

.richtext
{
    font-size:16px;
    font-family:Helvetica;
    
    line-height:1.6;
}

.richtext span
{
    
    margin-left:25%;
}

.irl-section {
    padding: 0px 7%;
    padding-left: 3%;
}

.irl-section h3
{
    text-align:center;
}

.irl-section h3
{
    margin:30px 0;
}

.irl-section h2
{
    text-align:center;
    font-family:Gadugi;
}

.irl-gallery {
    display: flex;
    overflow: hidden;
}

.irl-images
{
    display:flex;
    gap:5px;
}

.irl-images button
{
    height:150px;
    width:150px;
    border:0;
    background-color:#87acc9;
    transition: all .25s linear;
}

.irl-images button:hover
{
    transition: all .25s linear;
    cursor:pointer;
}

.irl-images button img:hover, irl-images > img
{
    transition: all .25s linear;
    opacity: 0.5;
    cursor:pointer;
}

.irl-images img{
    object-fit:cover;
    width:100%;
    height:100%;
    transition: all .25s linear;
    opacity:1;
}

.irl-gallery {
    padding: 20px 30px 20px 30px;
}

.irl-gallery > button
{
    height:150px;
    background:white;
    font-size:25px;
    border:0;
}

.irl-gallery > button:hover
{
    cursor:pointer;
}

.irl-gallery > button:last-child
{
    position:absolute;
    float:right;
    right:80px;
}

.inst_icon
{
    position:relative;
    top:-22%;
    left:38%;
    font-size:23px;
    color:white;
}

.social_footer {
    background-image: url(https://store.crunchyroll.com/on/demandware.static/-/Sites-CrunchyrollUS-Library/default/dw61f2558e/images/pagedesign/footer/newsletter_background.png);
    padding-top:30px;
    background-size:cover;
    background-position:center;
}

.social_footer *
{
    text-align:center;
    margin-top:20px;
}

.social_footer ul
{
    position:relative;
    left:-20px;
}

.social_footer li
{
    display:inline;
    font-size:55px;
    color:#ebbab7;
    margin-left:30px;
}

.social_footer > p:first-child
{
    font-size:27px;
    font-weight:600;
    font-family:Helvetica;
    text-transform:uppercase;
    color:#e8316e;
}

.social_footer p:last-of-type
{
    font-size:25px;
    color:#e2b7eb;
}

.social_footer form
{
    padding-bottom:20px;
}

.social_footer input
{
    display:inline-block;
}

.social_footer input:last-child
{
    background-color:#eda4e5;
    height:35px;
    text-align:center;
    padding:5px 15px 5px 15px;
    font-weight:600;
}

.social_footer input:last-child:hover
{
    background:black;
    color:white;
}

.social_footer form > :first-child
{
    height:35px;
    text-align:left;
    padding-left:5px;
    padding-top:5px;
}

.footer-links
{
    background-color:black;
    padding:0px 13%;
    display:grid;
    grid-template-columns:repeat(4, 1fr);
}

.footer-links div
{
    display:inline-block;
    margin-left:20px; 
    margin-top:50px;
}

.footer-links ul
{
     display:inline-block;
}

.footer-links li
{
    gap:10px;
    color:white;
    font-family:SAO_Regular;
    font-size:16px;
}

.footer-links div p:first-of-type
{
    color:orange;
    font-size:20px;
}

.footer-links img
{
    height:90%;
    width:85%;
}

footer p:last-child {
    color: darkgray;
    display:block;
    text-align:center;
    background:black;
    font-size:13px;
    margin-top:-20px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(240, 231, 230, .85);
    z-index: 9999999999999999999;
    display:none;
}

.overlay > div
{
    display:flex;
    border:3px solid blue;
    margin-bottom: 11%;
    margin-top:5%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0%);
    margin-right:auto;
    width: fit-content;
}

.overlay img
{
    width:400px;
    height:auto;
    display:inline-block;
    
}

.overlay-info
{
    display:inline-block;
    width:240px;
    float:right;
    background-color:white;
    padding-right:20px;
    
    height:auto;
    overflow: auto;
   
}

.overlay-info *
{
    margin-left:15px;
}

.overlay-info div a
{
    display:inline;
    font-size:17px;
    font-weight:700;
}

.overlay-info div a:hover
{
    cursor:pointer;
    text-decoration:underline;
}

.overlay-info i 
{
    position:relative;
    font-size:30px;
    top:5px;
    left:25px;
}

.overlay-info p
{
    margin-top:5px;
    font-family:Helvetica;
    font-size:14px;
}

.overlay-info p:last-of-type
{
    margin-top:10px;
    font-size:14px;
    margin-bottom:10px;
}

.shop_all
{
    display:inline-block;
}

.shop_all i
{
    font-size:24px;
    margin-left:-10px;
}

.shop_all > p
{
    display:inline;
    font-size:16px !important;
    font-weight:600;
    margin-left:30px !important;
}

.shoppable_list
{
    margin-top:10px;
    border:2px solid gray;
    padding:5px 5px 10px 0px;
    height:auto;
}

figure
{
    display:flex;
}

figcaption{
    display:inline;
    font-size:16px;
    margin-left:10px;
}

.shoppable_list img {
    display: inline;
    position: relative;
    top: 10px;
    width:50px;
    height:50px;
}

.overlay_arrow_prev, .overlay_arrow_next
{
    position:absolute;
    border-radius:50%;
    border:2px solid blue;
    height:50px;
    width:50px;
    background-color:white;
}

.overlay_arrow_prev
{
    top:45%;
    left:3%;
}

.overlay_arrow_prev i, .overlay_arrow_next i
{
    font-size:43px;
    color:lightblue;
}

.overlay_arrow_next
{
    top:45%;
    right:3%;
}

.overlay_arrow_next i
{
    position:relative;
    left:2px;
}

.overlay_arrow_prev:hover, .overlay_arrow_next:hover{
    background-color:lightblue;
    cursor:pointer;
}

.overlay_arrow_prev i:hover, .overlay_arrow_next i:hover
{
    color:white;
}

.wishlist-a-r
{
    position:fixed;
    top:50%;
    transform:translate(-55%, -50%);
    width:340px;
    border:0;
    left:50%;
    display:none;
}

.wishlist-add
{
    background-color:lawngreen;
    border-radius:10px;
    height:60px;
    padding:20px;
    animation:appear-a-r 2s ease;
    display:none;
}

.wishlist-remove
{
    background-color:palevioletred;
    display:none;
    animation:appear-a-r 4s ease;
}

@keyframes appear-a-r
{
    20%
    {
        display:block;
        opacity:1;
    }
    
    60%
    {
        opacity:0.6;
    }
    
    100%
    {
        opacity:0.5;
    }
}


@media (max-width:1535px)
{
    .main_categories
    {
        padding:12px 4% 12px 4%;
    }
    .cat_imgs_3 img
    {
        object-fit:fill;
        width:100%;
        height:auto;
    }
}

@media (max-width:1400px)
{
.main_categories
    {
        padding:12px 0% 12px 0%;
    }
}

@media (max-width: 1340px)
{
    .header_main ul
    {
        right:90px;
    }

    .logo
    {
        left:70px;
    }
    .navlist li a {
        page-break-before: always;
    }
    .navlist {
        flex-wrap: wrap;
        padding-bottom: 0;
    }
    .rec_prod_grid img
    {
        height:200px;
        width:180px;
    }

    .a-r-to-wishlist {
        
        top: 150px;
        left: 130px; 
    }

    .additional
    {
        top:150px;
    }

}

@media (max-width: 1300px)
{
    header{
        position:absolute;
    }
    .header_main ul {
        right: 120px;
    }

    .logo {
        left: 100px;
    }
    
    
    
    
}

@media (max-width:1280px)
{
    .navlist li:last-child
    {
        position:relative;
        left:50%;
        transform:translate(-50%, 0)
    }
    
}

@media (max-width:1185px)
{
    .navlist li:nth-child(13)
    {
        position:relative;
        left:50%;
        transform:translate(-50%, 0)
    }
    .irl-gallery > button:last-child
    {
        right:60px;
    }
}

@media (max-width:1100px)
{
    .rec_prod_grid img
    {
        height:170px;
        width:150px;
    }

    .a-r-to-wishlist {
        top: 120px;
        left: 100px;
    }

    .additional {
        top: 120px;
    }

    #menu-icon
    {
        display:inline;
        color:white;
    }

    .navlist
    {
        position:absolute;
        top:80%;
        left:-100%;
        width:320px;
        height:40vh;
        background-color:black;
        display:flex;
        align-items:center;
        flex-direction:column;
        padding:50px 20px;

    }

    .navlist a
    {
        display:block;
        margin:7px 0;
        
    }

    .navlist.open
    {
        left:0;
    }

    .navlist li:last-child
    {
       
        left:15%;
    }

    .navlist li:nth-child(13)
    {
        
        left:15%;
    }

    .logo
    {
        left:20px;
    }

    .header_main ul
    {
        right:50px;
    }

    footer p:last-of-type
    {
        padding-top:0px;
        margin-top:0px;
        position:relative;
        top:-5px;
    }

    .footer-links
    {
        display:block;
        padding:0;
    }

    .footer-links div
    {
        display:block;
        margin-bottom:5px;
        border-top:2px solid white;
        background-color:black;
        margin-left:0;
        padding-left:30px;
        margin-top:0px;
    }

    .footer-links div ul
    {
        display:none;
        text-align:left;
       
    }

    .footer-links div ul li
    {
        color:white;
        font-size:16px;
    }

    .footer-links div p
    {
        font-size:30px;
        position:relative;
        top:0px;
        
        text-align:left;
    }

    .footer-links div:last-of-type
    {
        display:none;
        
    }

    .main_categories
    {
        background-color:white;
    }

    .main_img a img
    {
        width:100%;
        height:auto;
        
    }

    .richtext
    {
        padding-left:30px;
        padding-right:0;
    }
}

@media (max-width:900px)
{
    .recommend_prod div div:nth-child(5) {
       display:none;
    }


    .store_series a:nth-child(5) {
        display: none;
    }
    
        .p_in_stock, .p_pre_order
    {
        padding:0;
        width:70px;
        font-size:11px;
    }

    .rec_prod_price p
    {
        
        font-size:16px;
        
    }

    .rec_prod_stars {
        display: block !important;
        margin-left: 0 !important;
        font-size: 15px;
        color: greenyellow;
        margin-top: 5px !important;
        font-weight: 600;
    }

        
        .rec_prod_stars > p:last-child {
            font-size: 14px;
            position: relative;
            top: -1px !important;
        }

        .rec_prod_stars p:nth-child(6) {
            font-size: 14px;
            font-weight: 600;
            position: relative;
            top: -1px !important;
        }

    .a-r-to-wishlist {
        top: 120px;
        left: 100px;
    }
    .store_series, .recommend_prod {
        padding: 0px 20px;
        padding-left: 20px;
        position: relative;
        top: -70px;
    }

    .store_series p, .recommend_prod p{
        
    }

        .store_series img {
        margin-left: 0px;
        object-fit: fill;
        width: 100%;
        height: auto;
    }

    

    .additional {
        top: 120px;
    }
    .irl-gallery > button:last-child {
        right: 70px;
    }

    .irl-section {
        padding-right:100px;
    }

    .logo
    {
        text-align:center;
        
        display:block;
        top:-40px;
    }

    .header_main
    {
        height:100px;
        
    }

   
    .header_main{
        padding-right: 50px;
        
    }

    .header_main ul {
        right: 0px;
        display: block;
        float:none;
        left:50px;
        top:-30px;
    }

    .search_item input
    {
        width:65%;  
    }

    
    .social_footer *
    { 
        margin-top:0px;
    }

    .social_footer li
    {
        font-size:35px;
    } 

        .categories_imgs
    {
        padding:10px 10%;
        padding-left:10%;
    }

    .scroll-top
    {
        right:1%;
    }

    .cat_imgs_3 {
        display: block;
        padding: 0px 10%;
        padding-left: 10%;
        gap: 5px;
    }

    .cat_imgs_3 img
    {
        object-fit:fill;
        width:100%;
        height:auto;
        max-height:300px;
        
        position:relative;
        top:45px;
    }

    .cat_imgs_2 {
        display: block;
        
        gap: 10px;
        padding: 33px 10%;
        padding-left: 10%;
    }

    .cat_imgs_2 img {
        object-fit: fill;
        height: auto;
        width:100%;
        max-height:300px;
        position:relative;
        top:45px;
    }

    .cat_imgs_3 p, .cat_imgs_2 p
    {
        font-size:20px;
        text-transform:uppercase;
        position:relative;
        
        text-align:center;
        background-color:rgba(229, 242, 201, 0.5);
        
        color:black;
        font-weight:600;
        font-family:SAO_Regular;
    }


    .rec_prod_grid p:nth-child(3) {
        font-family: Helvetica;
        font-size: 14px;
        
        width:70px;
    }

    .arrows button:first-child{
        left:10px;
    }

    .arrows button {
        
        top: 90px !important;
    }
    .arrows_2 button
    {
        top: 150px !important;
    }

    .store_series p
    {
        font-size:20px;
        margin-top:20px;
    }
}
html, body {
    margin: 0 !important;
    padding: 0 !important;
}

@media (max-width:715px)
{
    .recommend_prod div div:nth-child(4) {
        display: none;
    }


    .store_series a:nth-child(4) {
        display: none;
    }
    .search_item input {
        width: 55%;
    }
    
    .header_main {
        width: 100%;
        height: auto;  
        margin-left:0 !important;
        margin-right:0;
        left:0;
        right:0;
        
    }

    .arrows button {
        position: absolute;
        top: -120px;
    }

    .arrows_2 button
    {
        top:160px;
    }

    .a-r-to-wishlist {
        top: 120px;
        left: 100px;
    }

    .additional {
        top: 130px;
    }
    .recommend_prod div div:nth-child(5)
    {
        display:none;
    }
    .store_series p
    {
        text-transform:uppercase;
        font-size:15px;
        font-family:SAO_Regular;
        font-weight:600;
        
    }

    
    
    .store_series a:hover
    {
        cursor:pointer;
    }

    .store_series img {
        
        
    }
}
